.backgroundALL{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: white;
    z-index: -1;
}

#navbar{
    transition: all 1s;
    position: fixed;
    margin-left: 260px;
    background: whitesmoke;
    height: 65px;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 0px 30px;
}